.App {
  text-align: center;
}

.game {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  margin-top: 200px;
}

.game-board {
  margin-right: 20px;
}

.game-info {
  margin-left: 20px;
}

.board-row {
  display: flex;
}

.square {
  width: 60px;
  height: 60px;
  background-color: white;
  border: 1px solid #999;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  outline: none;
}

.square:hover {
  background-color: #ddd;
}

button {
  margin-top: 1px;
  margin-right: 1px;
}
.status-bar {
  font-size: 30px;
  margin-bottom: 10px;
}
.moves {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.move-button {
  width: 150px;
  background-color: antiquewhite;
  border-radius: 10px;
}
.restart-btn{
 
  width: 120px;
}